<footer class="w-full bg-white border-t border-border p-5 mt-10 text-center text-secondary">
  <div class="flex justify-center gap-5 mb-3">
    <a href="https://github.com/JVitoroliv3ira" target="_blank" aria-label="GitHub">
      <fa-icon [icon]="faGithub" size="lg" class="hover:text-primary transition"></fa-icon>
    </a>
    <a href="https://linkedin.com/in/joao-oliveira-96194124b/" target="_blank" aria-label="LinkedIn">
      <fa-icon [icon]="faLinkedin" size="lg" class="hover:text-primary transition"></fa-icon>
    </a>
  </div>

  <p class="text-sm">
    Desenvolvido com <fa-icon [icon]="faHeart" class="text-red-500"></fa-icon> por <a href="https://github.com/JVitoroliv3ira" class="text-primary hover:underline">João Vitor de Oliveira Santos</a>
  </p>
</footer>
