<section class="w-full flex flex-col items-center text-center space-y-4 max-w-md sm:max-w-2xl">
  <h1 class="text-primary text-4xl sm:text-5xl font-bold">MinUrl</h1>
  <p class="text-base sm:text-lg text-secondary leading-normal sm:leading-relaxed">
    Transforme links longos e confusos em URLs curtas e fáceis de compartilhar.
    Acompanhe estatísticas, personalize seus links e aumente sua produtividade com um encurtador rápido, seguro e eficiente.
  </p>

  <div class="w-full flex flex-col sm:flex-row gap-3">
    <input type="text" placeholder="Cole sua URL aqui..." class="input input-bordered w-full" />
    <button class="btn btn-primary w-full sm:w-auto">Encurtar</button>
  </div>
</section>
